---
layout: default
---
<div class="home">
  {% for post in paginator.posts %}
  <div class="post-content">
  <h2><a href="{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date_to_string }}</span></h2>
    <p>{{ post.content | strip_html | truncatewords:100 }}</p>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="Read more group">
            <a href="{{ post.url }}"><button type="button" class="btn btn-primary">Read more</button></a>
        </div>
        <div class="btn-group" role="group" aria-label="Add a comment group">
            <a href="{{ post.url }}#disqus_thread"><button type="button" class="btn btn-default">Add a comment</button></a>
        </div>
    </div>
  </div>
  {% endfor %}
  {% include pagination.html %}
  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
