.field-name-field-tags .field-item {
    display: inline;
    margin-right: 15px;
}

ul.flippy {
    margin: 0;
}

.flippy .prev {
    padding-left: 0;
}

.flippy .next {
    padding-right: 0;
}

h1 {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

p {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}
