.field-name-field-tags .field-item {
    display: inline;
    margin-right: 15px;
}

ul.flippy {
    margin: 0;
}

.flippy .prev {
    padding-left: 0;
    float: left;
}

.flippy .next {
    padding-right: 0;
    float: right;
}
