:root {
  --theme:#eceff4;
  --entry:#e5e9f0;
  --primary:#2e3440;
  --secondary:#3b4252;
  --tertiary:#434c5e;
  --content:#2e3440;
  --code-block-bg:#2e3440;
  --code-bg:#e5e9f0;
  --border:rgb(238, 238, 238)
}
.dark {
  --theme:#2e3440;
  --entry:#3b4252;
  --primary:#eceff4;
  --secondary:#e5e9f0;
  --tertiary:#d8dee9;
  --content:#eceff4;
  --code-block-bg:#3b4252;
  --code-bg:#3b4252;
  --border:rgb(51, 51, 51)
}