@media print {
    body,
    article {
        background-color: #fff !IMPORTANT;
    }

    p,
    a,
    h1,
    h2,
    h3,
    h4,
    li {
        color: #000;
    }

    .header,
    .footer {
        display: none;
    }

    .entry-footer {
        color: #000;
    }

    /* @page { size: auto;  margin: 0mm; } */
}