<nav class="primary-links">
    <ul class="links">
        {% for nav in site.data.nav %}
        {% if nav.subcategories != null %}
        <li>
            <a href="{{ nav.url }}">{{ nav.title }} ▼</a>
            <ul>
                {% for subcategory in nav.subcategories %}
                <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% elsif nav.title == page.title %}
        <li class="active">
            <a href="{{ nav.url }}">{{ nav.title }}</a>
        </li>
        {% else %}
        <li>
            <a href="{{ nav.href }}">{{ nav.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
