<div class="col-md-3 sidebar">
    <aside class="profile">
        <a href="/" title="link to homepage for mikebell.io - Blog and Stuff" id="avatar-link">
            <img class="profile avatar hvr-buzz-out" alt="mikebell.io - Blog and Stuff avatar" src="https://en.gravatar.com/userimage/19496771/9b956ef94407e518f026ebc6860ee986.jpeg" width="80px" height="80px">
            <h1>Mike Bell - Blog &amp; Stuff</h1>
        </a>
        <hr class="divider long">
        <p>Developer, Tinkerer, Coder, Hacker, Fiance.
            Powered by coffee and whisky.
            Views are my own.</p>
        <hr class="divider short">
        <div class="navigation">
            <div class="profile contact">
                <nav class="navigation primary-links">
                    <ul class="links">
                        <li><a title="link to more about me" class="link-item" href="/about">About</a></li>
                        <li><a title="link to me around the web" class="link-item" href="/me-web">Me On The
                            Web</a></li>
                        <li><a title="link to my talks" class="link-item" href="/speaking">Speaking</a></li>
                        <li><a title="link to my email address" class="link-item" href="mailto:hello@mikebell.io?subject=Hello!">Contact</a></li>
                    </ul>
                </nav>
                <nav class="secondary-links">
                    <ul class="social expanded">
                        <!-- Twitter -->
                        <li class="social item hvr-grow-rotate">
                            <a title="@mikebell_ on Twitter" href="http://twitter.com/mikebell_" target="blank">
                                <i class="icon icon-social-twitter"></i>
                                <span class="label">Twitter</span>
                            </a>
                        </li>
                        <!-- Github -->
                        <li class="social item hvr-grow-rotate">
                            <a title="mikebell on Github" href="https://github.com/mikebell" target="blank">
                                <i class="icon icon-social-github"></i>
                                <span class="label">Github</span>
                            </a>
                        </li>
                        <!-- RSS -->
                        <li class="social item hvr-grow-rotate">
                            <a title="Subscribe to RSS" href="/atom.xml">
                                <i class="icon icon-rss"></i>
                                <span class="label">RSS</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <footer>
                    &copy;
                </footer>
            </div>
        </div>
    </aside>
</div>
