$darkgrey: #333;
$anotherlightgrey: #f8f8f8;
$lightgrey: #707070;
$lightblue: #24bfcf;
$white: #fff;
$body-font-size: 18px;
$icon-font-size: 2rem;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:300,400);

body{
  font-family: Raleway, serif;

  a:hover {
    color: $lightblue;
    transition: all 300ms ease 0s;
    fill: $lightblue;
  }

  a {
    color: $darkgrey;
    text-decoration: underline;
  }

  h1 {
    font-size: 40px;
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
  }

  p {
    font-size: $body-font-size;
  }

  ul {
    font-size: $body-font-size;
  }

  .social-media {
    float: right;
  }

  .links {
    .active a {
      color: $lightblue;
    }
  }
}

.container-fixed {
  padding-left: 15px;
  padding-right: 15px;
}

.primary-links {
  a {
    text-decoration: underline;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    li {
      display: inline;
      margin-right: 15px;
    }
  }
}

pre {
  border: 0;
  padding: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?xo2xan');
  src: url('/fonts/icomoon.eot?xo2xan#iefix') format('embedded-opentype'),
  url('/fonts/icomoon.ttf?xo2xan') format('truetype'),
  url('/fonts/icomoon.woff?xo2xan') format('woff'),
  url('/fonts/icomoon.svg?xo2xan#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: 'icomoon' !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-google-plus3::before {
  content: '\e900';
  font-size: $icon-font-size;
}

.icon-facebook2::before {
  content: '\e901';
  font-size: $icon-font-size;
}

.icon-twitter::before {
  content: '\e902';
  font-size: $icon-font-size;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
  display: inline;
}

.post-type {
  .header-row {
    transition: all 0.5s ease-in-out;
    opacity: 0.2;
    h1 {
      float: left;
    }
  }
  .header-row:hover {
    opacity: 1;
  }
}

.code-icon {
  margin-top: 7px;
  margin-right: 10px;
  float: left;
}

.pagination {
  li {
    a {
      color: $darkgrey;
    }
    a:hover {
      color: $lightblue;
    }
  }
  .active {
    a {
      background-color: $darkgrey;
      border-color: $darkgrey;
    }
    a:hover {
      background-color: $lightblue;
      border-color: $lightblue;
    }
  }
}

.btn-primary {
  background-color: $darkgrey;
  border-color: $darkgrey;
}

.btn-primary:hover {
  background-color: $lightblue;
  border-color: $lightblue;
}

.btn-default {
  border-color: #fff;
}

.btn-default:hover {
  border-color: #e6e6e6;
}

.date {
  font-size: 55%;
}

ol, ul {
  font-size: 18px;
}

.post-content, post {
  margin-top: 50px;
  margin-bottom: 50px;
}
