$darkgrey: #333;
$anotherlightgrey: #f8f8f8;
$lightgrey: #707070;
$lightblue: #24bfcf;
$white: #fff;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:300,400);

html,
body,
.container-fluid,
.row {
  font-size: 1rem;
  height: 100%;

  a:hover {
    color: $lightblue;
    text-decoration: none;
    transition: all 300ms ease 0s;
  }
}

.row {
  .home,
  .post {
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
  }

  .content {
    color: $lightgrey;
    font-size: .9rem;

    h1 {
      color: $darkgrey;
      font-family: Roboto Slab, serif;
      font-size: 1.6rem;
    }

    h3 {
      font-size: 1.3rem;
    }
  }
}

body {
  font-family: Raleway, serif;

  h2 {
    font-family: Roboto Slab, serif;
    font-size: 1.6rem;
  }
}

article {
  a {
    color: $darkgrey;
  }

  h2 {
    color: $darkgrey;
    font-family: Roboto Slab, serif;
    font-weight: lighter;
  }

  h2 > a {
    text-decoration: none;
  }

  h2 > a:hover {
    color: $lightblue;
    text-decoration: none;
    transition: all 300ms ease 0s;
  }

  ul {
    padding-left: 0;

    li {
      list-style-type: none;
    }
  }

  .post-details {
    margin-bottom: 10px;

    div {
      display: inline;
    }
  }

  .post-header {

    h2 {
      text-align: center;
    }
  }
}

.post {

  h2 {
    color: $darkgrey;
    font-family: Roboto Slab, serif;
    font-weight: lighter;
  }

  header {
    margin-bottom: 1rem;

    h2 {
      display: inline;
    }

    .timeago,
    .social-media {
      display: inline;
      margin-left: .8rem;
    }

    .post-details {
      margin-top: 1rem;
    }
  }
}

.sidebar {
  background: linear-gradient(150deg, rgba(19, 106, 138, .65) 30%, rgba(38, 120, 113, .44) 70%) repeat fixed 0 0 / cover , url('/images/cover-new.jpg') no-repeat center center;
  padding-top: 20px;

  .divider {
    border-top: 1px solid rgba(255, 255, 255, .14);
    margin: 10px auto;
  }

  .profile {
    color: $white;
    font-family: Raleway, serif;
    text-align: center;

    a > img {
      border: 2px solid $lightblue;
      border-radius: 50%;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
      text-align: center;
    }

    a > h1 {
      color: $white;
      font-size: 1.6rem;
    }

    p {
      font-size: .9rem;
    }

    .link-item {
      color: $anotherlightgrey;
      display: block;
      float: none;
      font-size: .9em;
      opacity: .8;
      padding: .5rem 1.25rem;
    }

    ul {
      padding-left: 0;
    }

    .primary-links li {
      line-height: 1em;
      list-style-type: none;
    }

    .secondary-links li {
      display: inline;
      list-style-type: none;
    }
  }

  .avatar-link {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .sidebar {
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
}

@media (max-width: 992px) {
  aside {
    footer {
      padding-bottom: 15px;
    }
  }
}

@media (max-width: 360px) {
  .content {
    padding: 1rem 2rem 2rem !important;
  }

  article {
    header {
      h2 {
        display: block;
        text-align: left !important;
      }

      .timeago,
      .social-media {
        display: block;
        margin-left: 0;
      }
    }
  }
}

pre {
  border: 0;
  font-size: .8rem;
  padding: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?xo2xan');
  src: url('/fonts/icomoon.eot?xo2xan#iefix') format('embedded-opentype'),
  url('/fonts/icomoon.ttf?xo2xan') format('truetype'),
  url('/fonts/icomoon.woff?xo2xan') format('woff'),
  url('/fonts/icomoon.svg?xo2xan#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: 'icomoon' !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-google-plus3::before {
  content: '\e900';
  font-size: 1.1rem;
}

.icon-facebook2::before {
  content: '\e901';
  font-size: 1.1rem;
}

.icon-twitter::before {
  content: '\e902';
  font-size: 1.1rem;
}
