@media screen and (max-width: 500px) {
 .hero-unit {
   display: none;
 }
}

h1 {
 color: #ff0000;
}

.hero-unit {
 color: #999999;
 background-color: #222222;
}

.hero-unit h1 {
 margin-bottom: 0;
 font-size: 60px;
 line-height: 1;
 color: #eeeeee;
 letter-spacing: -1px;
}

.hero-unit {
 font-size: 18px;
 font-weight: 200;
 line-height: 30px;
 color: #999999;
}

a {
 color: #0064cd;
 text-decoration: none;
}

a:hover {
 color: #003f81;
 text-decoration: underline;
}

ul.inline li.first {
  padding-left: 0;
}

#footer-label a {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  margin-right: 3px;
}

#footer-label a {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.field-name-field-tags .field-items .field-item {
  display: inline;
}

.field-name-field-tags .field-items {
  margin-bottom: 15px;
}
