<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container-fixed{% if page.date %} post-type{% endif %}">
      <div class="row header-row">
        <div class="col-md-8 col-md-offset-2">
          <h1><a href="/">Mike Bell - Blog and Stuff</a></h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
          {% include menu.html %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
