name: Deploy
permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.77.0'
          # extended: true

      - name: Build
        run: hugo --minify

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.DEPLOY_ROLE }}

      - name: S3 sync to bucket
        run: |
          aws s3 sync public s3://mikebell.io --acl public-read --followe-symlinks -- delete

      # - uses: jakejarvis/s3-sync-action@master
      #   with:
      #     args: --acl public-read --follow-symlinks --delete
      #   env:
      #     AWS_S3_BUCKET: mikebell.io
      #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     AWS_REGION: 'eu-west-2'   # optional: defaults to us-east-1
      #     SOURCE_DIR: 'public'      # optional: defaults to entire repository

      # - name: Deploy
      #   uses: jonelantha/gatsby-s3-action@v1
      #   with:
      #     dest-s3-bucket: mikebell.io
      #     cloudfront-id-to-invalidate: ${{ secrets.CLOUDFRONTID }}

      # - name: invalidate
      #   uses: chetan/invalidate-cloudfront-action@master
      #   env:
      #     DISTRIBUTION: ${{ secrets.CLOUDFRONTID }}
      #     PATHS: '/*'
      #     AWS_REGION: 'eu-west-2'
      #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}